[access]
	inheritFrom = LizardIRC
[project]
	description = "Beancounter - a Java IRC bot to function as a game bot serving various games over IRC.  Developed for use for the LizardIRC network."
[access "refs/*"]
	owner = group LizardIRC Admins
	read = group Anonymous Users
	read = group Registered Users
